@mixin translate3d($x: 0, $y: 0, $z: 0) {
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

@mixin font($fs, $ls) {
  font-size: $fs;
  letter-spacing: $ls;
}

@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

@mixin gradient($start, $end, $percentStart, $percentStop) {
  background: -moz-linear-gradient($start, $white 0%, $white $percentStart, rgba(255, 255, 255, 0) $percentStop);
  background: -webkit-linear-gradient($start, $white 0%, $white $percentStart, rgba(255, 255, 255, 0) $percentStop);
  background: linear-gradient(to $end, $white 0%, $white $percentStart, rgba(255, 255, 255, 0) $percentStop);
}
