.wrapper {
	padding: 0 18px;
	color: #24292e;
  h4 {
    padding: 8px 0;
		&:not(:first-child) {
			margin-top: 16px;
		}
  }
  button {
    background-color: rgba(27, 31, 35, .05);
    border: none;
		border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    outline: none;
  }
  p {
    font-size: 18px;
    color: #4285f4;
		height: 38px;
    padding: 8px;
  }
}
